<ion-content>
<section class="vh-100 gradient-custom">
  <div class="container py-5">
    <div class="form-container">
      <h2 class="form-title">Registro en Clínica</h2>
      <p class="form-subtitle">Por favor, completa los campos</p>

      <!-- Campos del formulario -->
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-input" [(ngModel)]="usuario.nombre" />
      </div>
      <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="form-input" [(ngModel)]="usuario.apellido" />
      </div>
      <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-input" [(ngModel)]="usuario.nacimiento" />
      </div>
      <div class="form-group">
        <label>Nombre de Usuario</label>
        <input type="text" class="form-input" [(ngModel)]="usuario.user" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-input" [(ngModel)]="usuario.mail" />
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-input" [(ngModel)]="usuario.password" />
      </div>
      <div class="form-group">
        <label>Repetir Contraseña</label>
        <input type="password" class="form-input" [(ngModel)]="password2" />
      </div>
      <div class="form-group">
        <label for="tipoUsuario">Tipo de Usuario:</label>
        <select id="tipoUsuario" class="form-input" [(ngModel)]="usuario.tipo_usuario">
          <option value="null">Seleccionar</option>
          <option value="1">Paciente</option>
          <option value="2">Médico</option>
          <option value="3">Administrador</option>
        </select>
      </div>

      <!-- Opciones adicionales para médicos -->
      <div *ngIf="usuario.tipo_usuario == 2">
        <div class="form-group">
          <label>Días de Atención:</label>
          <div class="checkbox-group">
            <label *ngFor="let dia of diasSemana; let i = index">
              <input type="checkbox" (change)="booleanoDias(i, $event)" [checked]="diasSeleccionados[i]" /> {{ dia }}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label>Horario de Atención:</label>
          <div class="time-group">
            <div>
              <label>Desde</label>
              <input type="time" class="form-input" [(ngModel)]="usuario.horario_desde" />
            </div>
            <div>
              <label>Hasta</label>
              <input type="time" class="form-input" [(ngModel)]="usuario.horario_hasta" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Imagen de Especialidad</label>
          <input type="file" class="form-input" name="foto_especialidad" (change)="base64($event, 'foto_especialidad')" />
        </div>
      </div>

      <!-- Opciones comunes -->
      <div class="form-group">
        <label>Avatar</label>
        <input type="file" class="form-input" name="foto_perfil" (change)="base64($event, 'foto_perfil')" />
      </div>

      <!-- Botón de registro -->
      <div class="form-group">
        <button 
          class="form-button" 
          type="button" 
          [disabled]="usuario.password !== password2 || validarExiste()" 
          (click)="registrarEnApi()"
        >
          Registrarse
        </button>
      </div>

      <!-- Íconos sociales -->
      <div class="social-icons">
        <a href="#!" class="icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#!" class="icon"><i class="fab fa-twitter"></i></a>
        <a href="#!" class="icon"><i class="fab fa-google"></i></a>
      </div>
    </div>
  </div>
</section>
</ion-content>